.app-container {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, white, #3498db 80%, #ffffff);
}

.app-header {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.app-header h1 {
  font-size: 1.8rem;
  margin: 0;
  color: #333;
}

.loggo {
  width: 100%;
  font-weight: bold;

  display: flex;
  align-items: end;
  justify-content: center;
  top: 15%;
}

.syncc {
  color: #42474c;
  font-size: 35px;
  font-family: "Dancing Script", serif;

}

.sketche{
  color: #58e0ff;
  font-size: 40px;
  font-family: "Dancing Script", serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}


.menu-icon {
  width: 25px;
}

.controls-bar {
  z-index: 2;
  position: relative;
}

.controls-bgi {
  height: 100%;
  width: 100%;
  transform: rotateZ(-30deg);
  position: absolute;
  left: 0;
  display: none;
}

.chat-visible {
  display: flex;
  opacity: 1;
  margin: 0 20px 0 0;
  transition: all 0.3s ease-in-out;
  animation: fadeSide 0.5s ease-in-out;
}

.chat-hidden {
  display: none;
  opacity: 0;
  margin: 0 20px 0 -310px;
}

.user-chat {
  transition: 0.1s;
  z-index: 0;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 250px;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.user-button {
  padding: 10px 0;
  border-radius: 5px;
  transform: scale(0.95);
  transition: 0.2s;
  display: flex;
  align-items: center;
  user-select: none;
}

.user-button:hover {
  background-color: rgb(63, 63, 63);
  cursor: pointer;
  transform: scale(1);
  transition: 0.1s;
  box-shadow: 0px 1px 5px black;
}

.user-button:active {
  background-color: #2196f3;
  transform: scale(0.98);
}

.below-header {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 250px;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  border-radius: 8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.control-item {
  margin: 15px 0;
  font-size: 0.9rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.control-item label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #bdc3c7;
  cursor: pointer;
  transition: color 0.3s;
}

.control-item label:hover {
  color: #ecf0f1;
}

.tools {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tools label {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  color: #333;
  position: relative;
}

.tools label:hover {
  color: #3498db;
}

.tools input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 10%;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) translateX(-40px);
}

.tools input[type="radio"]:checked {
  background-color: #3498db;
  border-color: #3498db;
}

.tools input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 20%;
  background-color: #fff;
}

.tools input[type="radio"]:hover {
  border-color: #3498db;
}

.tools input[type="radio"]:disabled {
  background-color: #e0e0e0;
  border-color: #ccc;
}

.tools label span {
  margin-left: 25px;
}

.tools label:hover {
  color: #3498db;
}

.button {
  padding: 5px 5px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffffff;
  transition: all 0.1s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.button:disabled {
  background-color: #9b9b9b;
  cursor: not-allowed;
  box-shadow: 0 0 5px black;
}

.button.clear:hover:not(:disabled) {
  background-color: #ff9aa2;
}

.button.clear:active:not(:disabled) {
  background-color: #d44f5a; 
  transform: scale(.9);

}


.button#save:hover:not(:disabled) {
  background-color: rgb(164, 255, 164);
 
}


.button#save:active:not(:disabled){
  background-color: rgb(55, 182, 55);
  transform: scale(.9);

}

.button:hover:not(:disabled) {
  background-color: #7bbbff;
  transform: scale(1.1);
  transition: 0s;
}

.button:active:not(:disabled) {
  background-color: #1586ff;
  transform: scale(.9);
  transition: 0s;
}

.canvas-container {
  border: 2px solid #ccc;
  background: #fff;
  width: 80%;
  height: 80vh;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.canvas-container:hover {
  transform: scale(1.01);
}

/*stroke color-picker */

.paintHolder {
  justify-content: center;
  /* padding: 0 10px ; */
  gap: 20px;
}

#color-picker {
  width: 72%;
  height: 30px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgb(0, 0, 0);
}

.paintHolder:hover #color-picker {
  transform: scale(1.05);
  border: 1px solid white;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

#color-picker:active {
  transform: scale(0.9);
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}

#paint-plate {
  transform: rotateZ(-90deg);
}

/* fill color */

.fill-container {
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  display: flex;
}

.fill-div {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

#fill-color-picker {
  width: inherit;
  height: 30px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
}

/* tool-btn */

.control-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.tool-btn {
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tool-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.tool-btn:active {
  transform: scale(0.95);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}

#eraser {
  transform: rotateZ(110deg);
  color: red;
}

/* slider*/

.brush-div {
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.slider {
  width: 90%;
  height: 11px;
  background: #ffffff;
  border-radius: 3px;
  transition: 0.2s;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 20px;
  border-radius: 5px;
  background: #2196f3;
  cursor: pointer;
}

.slider::-moz-range-thumb:active {
  background: #58e0ff;
  border: 1px solid white;
  box-shadow: 0 0 1px black;
}

/* hover Name */

.hoverName {
  position: absolute;
  background-color: rgba(34, 34, 34, 0.729);
  border-radius: 4px;
  /* text-shadow: 0 0 3px black; */
  z-index: 99;
  font-size: 1rem;
  top: 10%;
  color: WHITE;
  justify-content: center;
  animation: fadeIn 0.2s ease-in-out;
}

.Hnamep {
  margin: 2px 5px;
}

/* dropdown */

.dropdown-value-image{
  width: 100%;
  height: 100%;
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #517293;
  width: 40px;
  padding: 5px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
  top: -130px;
  right: -60px;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  animation: fadeIn .2s ease-in-out;

}

.drop-pattern {
  background-color: white;
  height: 40px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  animation: fadeIn .6s ease-in-out;
  box-shadow: 0 0 4px 1px rgb(0, 0, 0);

}

.drop-pattern:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px 1px rgb(0, 0, 0);
}

.drop-pattern:active {
  transform: scale(0.95);
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgb(0, 0, 0);
}

.drop-pattern img {
  width: 100%;
  height: 100%;
}

.show {
  display: flex;
}

.hover-tool {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeSide {
  from {
    opacity: 0;
    width: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
