
form{
  /* background: ; */
}

.input-group {
  /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;

  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
  }
  
  .input-field.read-only {
    background-color: #fff6f6;
    cursor: not-allowed;
    font-size: 12px;
    text-align: center;
    width: min-content;
  }
  
  .btn {
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .generate-btn {
    background-color: #007bff;
    color: white;
  }
  
  .generate-btn:hover {
    background-color: #00448d;
  }
  
  .copy-btn {
    background-color: #6c757d;
    color: white;
  }
  
  .copy-btn:hover {
    background-color: #3e3e3e;
  }
  
  .input-group .btn:active{
    transform: scale(.95);
  }

  .submit-btn {
    width: 100%;
    background-color: #535353;
    color: white;
  }
  .submit-btn:hover {
    background-color: #23272b;
  }

  .submit-btn:active {
    transform: scaley(.93) scaleX(.98);
    background-color: #08090a;
  }