
form{
  /* background: ; */
}

.input-group {
  /* width: 90%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;

  }
  
  .input-field {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
  }
  
  .input-field.read-only {
    background-color: #e9ecef;
    cursor: not-allowed;
    font-size: 12px;
  }
  
  .btn {
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .generate-btn {
    background-color: #007bff;
    color: white;
  }
  .generate-btn:hover {
    background-color: #0056b3;
  }
  
  .copy-btn {
    background-color: #6c757d;
    color: white;
  }
  .copy-btn:hover {
    background-color: #5a6268;
  }
  
  .submit-btn {
    width: 100%;
    background-color: #343a40;
    color: white;
  }
  .submit-btn:hover {
    background-color: #23272b;
  }