body {
  margin: 0;
  /* background-color: #efefef; */
}

.picker {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.swatch {
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  &:before {
    position: absolute;
    top: 5px;
    left: 60px;
    color: rgba(59, 72, 81, 0.8);
  }
}

.popover {
  position: absolute;
  bottom: calc(100% + 8px);
  left: 0px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* padding: 10px; */
  /* background-color: white; */
  gap: 10px;
}

/* Custom layout */
.popover .react-colorful {
  padding: 10px;
  border-radius: 10px;
  background: #33333a;
  box-shadow: 0 6px 12px #999;
}

.popover .react-colorful__saturation-pointer {
  width: 16px;
  height: 16px;
  border-radius: 3px;
}

.popover .react-colorful__hue {
  margin: 8px 0 0 0;
  border-radius: 0 0 8px 8px;
  height: 20px;
}

.popover .react-colorful__hue-pointer {
  width: 14px;
  height: 30px;
  border: 2px white solid;
  border-radius: 3px;
}
